body {
    margin: 0;
    padding: 0;
    background: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
  }
  
  .wrapper {
    position: relative;
    width: 300px;
  }
  
  .pic {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    background: #1f1d1d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px #e5e539;
    z-index: 2;
  
    img {
      width: 90%;
      height: 90%;
      border-radius: 50%;
    }
  }
  
  .container {
    width: 300px;
    height: 280px;
    background: #1f1d1d;
    border-radius: 10px;
    box-shadow: 0 0 10px #e5e539;
    padding-top: 70px;
    text-align: center;
  
    .up {
      h1 {
        color: white;
        margin-top: 10px;
      }
    }
  
    .middle {
      input {
        margin-bottom: 8px;
        font-size: 18px;
        border-radius: 5px;
        background: #1f1d1d;
        width: 240px;
        height: 35px;
        border: 1px solid rgb(84, 84, 84);
        outline: none;
        text-align: right;
        padding-right: 10px;
        color: #e5e539;
        direction: rtl;
  
        &::placeholder {
          font-size: 16px;
          color: rgb(179, 179, 179);
        }
      }
    }
  
    .forget {
      width: 240px;
      margin: 5px auto;
      text-align: right;
  
      p {
        font-size: 13px;
        cursor: pointer;
        color: #e5e539;
  
        &:hover {
          color: #f5ffb7;
        }
      }
    }
  
    .button {
      button {
        width: 245px;
        height: 35px;
        cursor: pointer;
        font-size: 17px;
        border-radius: 5px;
        border: none;
        background: #e5e539;
        color: black;
        margin-top: 10px;
        &:hover{
            background: #f5ffb7;
        }
      }
    }
  
    .bottom {
      margin-top: 10px;
  
      p {
        cursor: pointer;
        color: #e5e539;
        font-size: 14px;
        &:hover {
          color: #f5ffb7;
        }
      }
    }
  }
  