body {
  margin: 0;
  padding: 0;
  background: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.wrapper {
  position: relative;
  width: 300px;
  height: max-content;
}

.pic {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 120px;
  background: #1f1d1d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px #e5e539;
  z-index: 2;
}

.pic img {
  width: 90%;
  height: 90%;
  border-radius: 50%;
}

.container {
  width: 300px;
  height: 330px;
  background: #1f1d1d;
  border-radius: 10px;
  box-shadow: 0 0 10px #e5e539;
  padding-top: 70px;
  text-align: center;
}

.wrapper .container .create {
  margin-top: 20px;
  display: inline-block;
  padding: 8px 5px;
  border: 1px solid #f5d000;
  border-radius: 8px;
  color: #e5e539;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}
.wrapper .container .create:hover {
  background: #f5ffb7;
  color: #000;
}

.container .up h1 {
  color: white;
  margin-top: 10px;
}

.container .middle input {
  margin-bottom: 8px;
  font-size: 18px;
  border-radius: 5px;
  background: #1f1d1d;
  width: 240px;
  height: 35px;
  border: 1px solid rgb(84, 84, 84);
  outline: none;
  text-align: right;
  padding-right: 10px;
  color: #e5e539;
  direction: rtl;
}

.container .middle input::-moz-placeholder {
  font-size: 16px;
  color: rgb(179, 179, 179);
}

.container .middle input::placeholder {
  font-size: 16px;
  color: rgb(179, 179, 179);
}

.wrapper .container .back {
  text-align: center;
  margin-top: 15px;
}

.wrapper .container .back a {
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #f5d000;
  border-radius: 8px;
  color: #e5e539;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.wrapper .container .back a:hover {
  background: #f5ffb7;
  color: black;
}

.container .forget {
  width: 240px;
  margin: 10px auto;
  text-align: right;
  margin-top: 5px;
}

.container .forget a {
  font-size: 13px;
  cursor: pointer;
  color: #e5e539;
}

.container .forget a:hover {
  cursor: pointer;
  color: #f5ffb7;
}

.container .button button {
  width: 245px;
  height: 35px;
  cursor: pointer;
  font-size: 17px;
  border-radius: 5px;
  border: none;
  background: #e5e539;
  color: black;
  margin-top: 10px;
}

.container .button button:hover {
  background: #f5ffb7;
}

.container .create {
  width: 240px;
  margin: 10px auto;
  text-align: cenetr;
  margin-top: -3px;
}

.container .create a {
  font-size: 13px;
  cursor: pointer;
  color: #e5e539;
}

.container .create a:hover {
  color: #f5ffb7;
}